@use "../../style/abstracts/mixins" as *;
@use "../../style/abstracts/variables" as *;
.custom-dropdown {
  @include button($spacing-big);

  padding: $spacing-super-small;
  margin-bottom: $spacing-big;
  width: clamp(200px, 70%, 400px);
  display: flex;
  flex-direction: column;
  align-items: $center-position;
  div {
    width: auto;
    padding: 0.25rem;
    div {
      border-bottom: solid 1px gray;
    }
  }
  li {
    text-align: left;
    list-style: circle;
  }
}

.custom-option:hover {
  border-bottom: solid $neutral-black 1px;
}

.custom-dropdown:disabled {
  @include disabledButton;
}
