#question {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
}

.helpline-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 50%;
}

.answer-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  width: 50%;
}

#question-title {
  margin-left: 2rem;
  margin-right: 2rem;
}
