@mixin button($border-radius: 20px) {
  border: none;
  background-color: white;
  transition: background-color 0.3s ease-in;
  box-shadow: 2px 2px 2px;
  border-radius: $border-radius;
  &:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }
}

@mixin disabledButton() {
  opacity: 0.7;
  cursor: not-allowed;
  color: inherit;
}
