//Colors
$primary-gradientcolorblue: #706eff;
$primary-gradientcolorpurlple: #b349ff;
//Spacing

//Borders

//FONTS
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap");
$text-font: "Open Sans", sans-serif;
$font-weight: 500;

$heading-font: "Luckiest Guy", sans-serif;

$interactive-font: "Quicksand", sans-serif;
