@use "../../style/abstracts/variables" as *;

.continuebutton {
  font-size: 1.25rem;
  font-family: $interactive-font;
  font-weight: $font-weight;
}

.answerbutton {
  font-size: 1.25rem;
}
.main-title {
  font-size: clamp(2.1rem, 5vw, 5rem);
  font-family: $heading-font;
  color: white;

  -webkit-text-stroke-width: clamp(1px, 2vw, 12px);
  -webkit-text-stroke-color: black;
  paint-order: stroke fill;
}

.description-text {
  font-family: $text-font;
  font-size: clamp(1.25rem, 3vw, 1.5rem);
  color: white;
  font-weight: $font-weight;
}

.custom-dropdown {
  font-family: $interactive-font;
  font-weight: $font-weight;
  font-size: 1.25rem;
  div {
    font-size: 1.2rem;
  }
}

#question-title {
  font-size: 2.5rem;
  -webkit-text-stroke-width: 8px;
}
